appdirs==1.4.4
asgiref==3.7.2
backports.zoneinfo==0.2.1;python_version<"3.9"
black==23.9.1
click==8.1.7
colorama==0.4.6
cramjam==2.7.0
Django==4.2.5
django-cors-headers==4.2.0
djangorestframework==3.14.0
fastparquet==2023.8.0
flake8==6.1.0
fsspec==2023.9.2
greenlet==2.0.2
mccabe==0.7.0
mypy-extensions==1.0.0
nfl-data-py==0.3.1
numpy==1.24.0
packaging==23.1
pandas==2.0.3
pathspec==0.11.2
platformdirs==3.10.0
pycodestyle==2.11.0
pyflakes==3.1.0
python-dateutil==2.8.2
python-decouple==3.8
python-snappy==0.6.1
pytz==2023.3.post1
six==1.16.0
SQLAlchemy==2.0.21
sqlparse==0.4.4
tomli==2.0.1
typing_extensions==4.8.0
tzdata==2023.3
